[server default]
manager_workdir=/etc/mha
manager_log=/etc/mha/manager.log
master_ip_failover_script=/etc/mha/master_ip_failover

ssh_user=root 
ssh_port=22

repl_user=repluser  
repl_password=123qqq...A 

user=root 
password=123qqq...A 

[server1]
hostname=mysql1
candidate_master=1
port=3306

[server2]
hostname=mysql2
candidate_master=1
port=3306

[server3]
hostname=mysql3
candidate_master=1
port=3306

[server4]
hostname=mysql4
port=3306

[server5]
hostname=mysql5
port=3306

[server6]
hostname=mysql6
port=3306
